.wrapper{
    margin: 100px auto;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    grid-gap: 10px;
    grid-template-rows: auto auto auto auto;


}
.grid-container > * {
    height:150px;
}
  .grid-row1 {
    background-color: #F5C6D6;
    grid-column: span 4;

  }
  .grid-row2 {
    background-color: #EE2E84
  }
  .grid-r3c1 {
    background-color: #85CFD8;
    grid-column:span 2;
  }
  .grid-r3c2 {
    background-color: #85CFD8;
    grid-column: span 2;
  }
  .grid-r4c1 {
    background-color: #8DC63F;
    grid-column: span 3;
  }
  .grid-r4c2 {
    background-color:#E76E34;
  }

  @media only screen and (max-width: 1000px) {
    .grid-container > * {
        height:120px;
    }
    .grid-container {
        grid-gap: 8px;
    }
  }

  @media only screen and (max-width: 768px) {
    .grid-container > * {
        height:70px;
        grid-column: span 4;
    }
    .grid-container {
        grid-gap: 5px;
    }
  }

